mixin form()

    .form_container
        form(action="" method="POST" enctype="multipart/form-data")
            .formInput
                label(for="event_name") Event Name:
                input(type="text" name="event_name" required)
            .formInput
                label(for="event_start") Starting Date:
                input(type="date" name="event_start" required )
            .formInput
                label(for="event_starting_time") Starting Time:
                input(type="time" name="event_start_time" required )
            .formInput
                label(for="venue_name") Venue Name:
                input(type="text" name="venue_name" required)
            .formInput
                label(for="venue_address") Venue Address:
                input(type="text" name="venue_address" required)
            .formInput
                label(for="event_host") Event Host:
                input(type="text" name="event_host" required)
            .formInput
                label(for="age_restricted") Age Restricted:
                br
                label(for="age_restricted") True:
                input(type="radio" name="age_restricted" value="true")

                label(for="age_restricted") False:
                input(type="radio" name="age_restricted" value="false" checked)
            hr
            //- Setup For ticket type Begin
            .formInput
                label(for="type_and_quantity") Select The Ticket Types That will be available:
                br
                label(for="ticket_type") General Admission:
                input(type="checkbox" name="ticket_type" value="general_admission")
                .hidden_input
                    label(for="ticket_amount") Quantity:
                    input(type="number" name="ticket_amount" value=null)
                    label(for="ticket_cost") Cost:
                    input(type="number" name="ticket_cost" value=null)
                br
                label(for="ticket_type") VIP:
                input(type="checkbox" name="ticket_type" value="vip")
                .hidden_input
                    label(for="ticket_amount") Quantity:
                    input(type="number" name="ticket_amount" value=null)
                    label(for="ticket_cost") Cost:
                    input(type="number" name="ticket_cost" value=null)
                br
                label(for="ticket_type") Reserved Seating:
                input(type="checkbox" name="ticket_type" value="reserved_seating")
                .hidden_input
                    label(for="ticket_amount") Quantity:
                    input(type="number" name="ticket_amount" value=null)
                    label(for="ticket_cost") Cost:
                    input(type="number" name="ticket_cost" value=null)
                br
                label(for="ticket_type") Multi Day Pass:
                input(type="checkbox" name="ticket_type" value="multi_day_pass")
                .hidden_input
                    label(for="ticket_amount") Quantity:
                    input(type="number" name="ticket_amount" value=null)
                    label(for="ticket_cost") Cost:
                    input(type="number" name="ticket_cost" value=null)
                br
                label(for="ticket_type") Early Bird Discount:
                input(type="checkbox" name="ticket_type" value="early_bird_discount")
                .hidden_input
                    label(for="ticket_amount") Quantity:
                    input(type="number" name="ticket_amount" value=null)
                    label(for="ticket_cost") Cost:
                    input(type="number" name="ticket_cost" value=null)
                br
                label(for="ticket_type") Coded Discount:
                input(type="checkbox" name="ticket_type" value="coded_discount")
                .hidden_input
                    label(for="ticket_amount") Quantity:
                    input(type="number" name="ticket_amount" value=null)
                    label(for="ticket_cost") Cost:
                    input(type="number" name="ticket_cost" value=null)
                br
                label(for="ticket_type") Tickets at Door:
                input(type="checkbox" name="ticket_type" value="tickets_at_door")
                .hidden_input
                    label(for="ticket_amount") Quantity:
                    input(type="number" name="ticket_amount" value=null)
                    label(for="ticket_cost") Cost:
                    input(type="number" name="ticket_cost" value=null)
                br
                label(for="ticket_type") One Day Pass:
                input(type="checkbox" name="ticket_type" value="one_day_pass")
                .hidden_input
                    label(for="ticket_amount") Quantity:
                    input(type="number" name="ticket_amount" value=null)
                    label(for="ticket_cost") Cost:
                    input(type="number" name="ticket_cost" value=null)
            //- Setup For ticket type End
            hr
            .formInput
                label(for="country") Country:
                input(type="text" name="country" required)
            .formInput
                label(for="event_description") Event Description:
                textarea(type="text" name="event_description" cols="50" rows="10")
            .formInput
                label(for="public") Event Available:
                input(type="radio", name="public" value="true" checked)
                label(for="public") Event Unavailable:
                input(type="radio", name="public" value="false")
            .formInput
                label(for="image") Upload Images:
                input(type="file" name="image" required)
            .formInput
                button(type="submit") Submit
