mixin orders(order)

    .container-fluid
        ul
            li= `Order ref: ${order._id}`
            each data in order.event_data 
                li=`Event: ${data.event_name}`
                li=`Country: ${data.country}`
                li=`Ticket Type: ${data.type_of_ticket}`
                li=`Amount Purchased: ${data.amount}`
