mixin ticket(event={}) 
    .ticket
        .ticket_img 
            a(href="#")
                img(src=`http://res.cloudinary.com/ddyffgmvq/image/upload/${event.image}.jpg`, alt="ticket_image")
            hr 
        .ticket_info 
            //- if url.startsWith('/all')
            a(href="#")
                h3= event.event_name 
            p= `Description ${event.description}`
            p= `Sale Ends: ${event.sale_end_time}`
            p= `Cost:$ ${event.ticket_cost}`  